		<title>APP_TITLE</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--<link rel="icon" href="../../favicon.ico"> -->

		<script type="text/javascript" src="/js/angular.min.js"></script>
		<script type="text/javascript" src="/js/loading-bar.min.js"></script>

		<!--css : vendorBundle -->
		<link rel='stylesheet' href='/css/vendorBundle.css'>	
		<!-- css : appBundle -->
		<link rel='stylesheet' href='/css/appBundle.css'>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="public/js/html5shiv.min.js"></script>
		  <script src="public/js/respond.min.js"></script>
		<![endif]-->