		<% layout('layouts/layout_main') -%>
		
		<!-- navigation 
		=============================================================-->
		<% include ../partials/_navigation %>		

		<!-- div for all page content to declare an angular app for this content
		=============================================================-->		
		<div  ng-controller="HomeMainController as HomeMainCtrl">
					
			<section id="sectionHome">

				<div class="container">

					<div class="jumbotron">
						<h1>Jumbotron</h1>
						<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
						<p><a class="btn btn-primary btn-lg">Learn more</a></p>
					</div>
				
				
				<!-- end container -->
				</div>

			</section>


		</div>

