<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<% include ../partials/_header %>
	</head>

	<body ng-controller="IndexMainController as IndexMainCtrl" ng-cloak>
	
		<div>
			<%-body -%>
		</div>	


		<% include ../partials/_footer %>

	</body>
</html>